@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif; }

html {
  font-size: 63.5%; }

#navegador {
  font-size: 2em;
  background-color: #0f6394; }
  #navegador #contNav {
    padding: 0px; }
  #navegador #hambNav {
    margin-left: 5px; }
  #navegador #dropNav {
    flex-grow: 0;
    margin-left: 5px; }
  @media only screen and (min-width: 992px) {
    #navegador #contNav {
      width: 70%;
      margin: 0 auto; }
    #navegador #dropNav a {
      font-size: 0.8em;
      margin: 0px 5px; } }

#pie {
  display: block;
  flex-direction: row;
  background-color: #0f6394;
  height: 90px;
  width: 100%; }
  #pie #contPie {
    display: flex;
    flex-basis: auto;
    width: 100%;
    margin: 0 auto;
    padding: 0px 10px;
    justify-content: space-between; }
    #pie #contPie a {
      margin: 20px 0px; }
  @media only screen and (min-width: 992px) {
    #pie #contPie {
      width: 70%;
      padding: 0px; } }

body {
  background-color: #e7e7e7; }

#bodyIndex #contCarrusel {
  margin: 5px; }
  #bodyIndex #contCarrusel img {
    max-height: 900px; }
  #bodyIndex #contCarrusel .descripcion {
    background-color: #615b5b;
    flex-grow: 1;
    margin: 0%;
    padding: 0%;
    opacity: 0.9;
    border-radius: 5%; }

@media only screen and (min-width: 992px) {
  #bodyIndex #contCarrusel {
    width: 70%;
    margin: 20px auto;
    border: solid 8px #ffffff;
    border-radius: 20%;
    overflow: hidden;
    background-color: #e7e7e7; }
    #bodyIndex #contCarrusel img {
      border-radius: 17%; }
    #bodyIndex #contCarrusel .descripcion {
      bottom: 60px; } }

#bodyIndex #contIndexMain {
  padding: 5px 5px 81px 5px;
  flex-wrap: wrap;
  display: flex; }
  #bodyIndex #contIndexMain #contNosotros {
    flex-direction: column;
    align-items: center; }
    #bodyIndex #contIndexMain #contNosotros p {
      font-size: 2em;
      padding: 5px;
      text-align: justify; }
    #bodyIndex #contIndexMain #contNosotros h1 {
      font-size: 3em;
      text-align: center; }
  #bodyIndex #contIndexMain #contMapa {
    display: none; }
  #bodyIndex #contIndexMain #contBtnMapa {
    display: block;
    flex-grow: 1; }
    #bodyIndex #contIndexMain #contBtnMapa p {
      display: flex;
      margin-bottom: 3px; }
      #bodyIndex #contIndexMain #contBtnMapa p button {
        font-size: 3em;
        flex-grow: 1;
        border-radius: 3%; }
    #bodyIndex #contIndexMain #contBtnMapa #dropMapa .card {
      background-color: #e7e7e7;
      border: 0;
      padding: 0; }
      #bodyIndex #contIndexMain #contBtnMapa #dropMapa .card iframe {
        width: 100%; }

@media only screen and (min-width: 992px) {
  #bodyIndex #contIndexMain {
    flex-wrap: 1;
    width: 70%;
    margin: 0px auto; }
    #bodyIndex #contIndexMain #contNosotros {
      flex-grow: 1; } }

@media only screen and (min-width: 1344px) {
  #bodyIndex #contIndexMain #contBtnMapa {
    display: none; }
  #bodyIndex #contIndexMain #contMapa {
    display: block; }
    #bodyIndex #contIndexMain #contMapa h2 {
      position: relative;
      font-size: 2.5em;
      text-align: center; }
    #bodyIndex #contIndexMain #contMapa .containerMapa {
      position: relative;
      padding-bottom: 100.25%;
      height: 0;
      overflow: hidden; }
      #bodyIndex #contIndexMain #contMapa .containerMapa iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; } }
