@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif; }

html {
  font-size: 63.5%; }

.nav-cat-active {
  color: #85afc7;
  font-size: 3em; }

#navegador {
  font-size: 2em;
  background-color: #0f6394; }
  #navegador #contNav {
    padding: 0px; }
  #navegador #hambNav {
    margin-left: 5px; }
  #navegador #dropNav {
    flex-grow: 0;
    margin-left: 5px; }
  @media only screen and (min-width: 992px) {
    #navegador #contNav {
      width: 70%;
      margin: 0 auto; }
    #navegador #dropNav a {
      font-size: 0.8em;
      margin: 0px 5px; } }

#pie {
  display: block;
  flex-direction: row;
  background-color: #0f6394;
  height: 90px;
  width: 100%; }
  #pie #contPie {
    display: flex;
    flex-basis: auto;
    width: 100%;
    margin: 0 auto;
    padding: 0px 10px;
    justify-content: space-between; }
    #pie #contPie a {
      margin: 20px 0px; }
  @media only screen and (min-width: 992px) {
    #pie #contPie {
      width: 70%;
      padding: 0px; } }

body {
  background-color: #d1d1d1; }

h1 {
  font-size: 3em;
  text-align: center; }

#indBody main #contIndexMain {
  padding: 5px 5px 81px 5px;
  flex-wrap: wrap;
  display: flex; }
  #indBody main #contIndexMain #contCarrusel {
    margin: 5px; }
    #indBody main #contIndexMain #contCarrusel img {
      max-height: auto; }
    #indBody main #contIndexMain #contCarrusel .descripcion {
      background-color: #615b5b;
      flex-grow: 1;
      margin: 0px;
      padding: 0px;
      opacity: 0.9;
      border-radius: 5%; }
      #indBody main #contIndexMain #contCarrusel .descripcion p {
        font-size: 2em; }
      #indBody main #contIndexMain #contCarrusel .descripcion h3 {
        padding-top: 10px; }
  #indBody main #contIndexMain #contNosotros {
    flex-direction: column;
    align-items: center;
    padding-right: 20px; }
    #indBody main #contIndexMain #contNosotros p {
      font-size: 2em;
      padding: 5px;
      text-align: justify; }
  #indBody main #contIndexMain #contMapa {
    display: none; }
  #indBody main #contIndexMain #contBtnMapa {
    display: block;
    flex-grow: 1; }
    #indBody main #contIndexMain #contBtnMapa p {
      display: flex;
      margin-bottom: 3px; }
      #indBody main #contIndexMain #contBtnMapa p button {
        font-size: 3em;
        flex-grow: 1;
        border-radius: 3%; }
    #indBody main #contIndexMain #contBtnMapa #dropMapa .card {
      background-color: #d1d1d1;
      border: 0;
      padding: 0; }
      #indBody main #contIndexMain #contBtnMapa #dropMapa .card iframe {
        width: 100%; }

#catBody #cat {
  margin: 0;
  padding: 0;
  display: flex; }
  #catBody #cat #catCont {
    width: 70%;
    margin: 0 auto; }
    #catBody #cat #catCont #catFiltros {
      margin-top: 20px;
      height: 200px;
      background-color: #f1f3f5;
      justify-content: center;
      border-radius: 6%;
      display: flex;
      flex-direction: column; }
      #catBody #cat #catCont #catFiltros ul {
        padding: 0px;
        margin: 0px;
        list-style: none; }
        #catBody #cat #catCont #catFiltros ul li a {
          color: black;
          font-size: 1.6em;
          outline: none;
          text-decoration: none; }
    #catBody #cat #catCont #catProd {
      min-height: calc(100vh - 210px);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly; }
      #catBody #cat #catCont #catProd #catProdSab, #catBody #cat #catCont #catProd #catProdToa,
      #catBody #cat #catCont #catProd #catProdAco,
      #catBody #cat #catCont #catProd #catProdBat,
      #catBody #cat #catCont #catProd #catProdInf {
        display: none;
        flex-wrap: wrap;
        justify-content: space-evenly; }
        #catBody #cat #catCont #catProd #catProdSab:target, #catBody #cat #catCont #catProd #catProdToa:target,
        #catBody #cat #catCont #catProd #catProdAco:target,
        #catBody #cat #catCont #catProd #catProdBat:target,
        #catBody #cat #catCont #catProd #catProdInf:target {
          display: flex; }
      #catBody #cat #catCont #catProd #catProdToa:target,
      #catBody #cat #catCont #catProd #catProdAco:target,
      #catBody #cat #catCont #catProd #catProdBat:target,
      #catBody #cat #catCont #catProd #catProdInf:target {
        display: flex; }
      #catBody #cat #catCont #catProd .item {
        background-color: #d1d1d1;
        border-radius: 2%;
        margin: 20px 10px;
        transition: all 0.4s; }
        #catBody #cat #catCont #catProd .item:hover {
          transform: scale(1.03, 1.03); }
        #catBody #cat #catCont #catProd .item .prodTit {
          font-weight: 500;
          font-size: 1.6em;
          margin-top: 10px; }
        #catBody #cat #catCont #catProd .item .prodImg {
          border: solid 8px #c9c1b7;
          padding: 10px 5px;
          border-radius: 5%; }
          #catBody #cat #catCont #catProd .item .prodImg img {
            border-radius: 5%; }
        #catBody #cat #catCont #catProd .item .precio {
          margin-top: -5px;
          font-size: 1.6rem;
          text-align: center;
          font-weight: 300; }
        #catBody #cat #catCont #catProd .item .prodComp {
          background-color: #e7e7e7;
          display: flex;
          justify-content: center; }
          #catBody #cat #catCont #catProd .item .prodComp .buttonComprar {
            border: 0;
            width: 100%;
            height: 30px;
            font-size: 1.3em; }

#envBody #envCont {
  min-height: calc(100vh - 195px); }
  #envBody #envCont h1 {
    text-align: center;
    margin: 30px 0px; }
  #envBody #envCont #envForm fieldset {
    padding: 3px;
    margin: 5px 0px 5px 5px; }
    #envBody #envCont #envForm fieldset .form-label {
      font-size: 2em;
      font-weight: 500; }
    #envBody #envCont #envForm fieldset .form-check .form-check-label {
      font-size: 1.4em; }
  #envBody #envCont #envForm #envTextarea2 {
    font-size: 1em; }
    #envBody #envCont #envForm #envTextarea2 #aclEnv {
      width: 100%;
      font-size: 1.5em; }
  #envBody #envCont #envContbtn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    #envBody #envCont #envContbtn input {
      font-size: 2em;
      width: 100px;
      margin: 0px 50px; }

#revBody main {
  min-height: calc(100vh - 235px); }
  #revBody main #revCont {
    display: flex;
    flex-direction: column;
    padding: 10px; }
    #revBody main #revCont #revTexto h1 {
      font-size: 3em;
      text-align: center;
      font-weight: 500;
      margin: 30px 0px; }
    #revBody main #revCont #revTexto p {
      font-size: 2em;
      text-align: justify; }
    #revBody main #revCont #revForm div {
      align-items: center;
      margin: 15px 0px; }
      #revBody main #revCont #revForm div label {
        font-weight: 500;
        font-size: 2em; }
    #revBody main #revCont #revForm #inpNombre,
    #revBody main #revCont #revForm #inpTelefono,
    #revBody main #revCont #revForm #inpEmail {
      font-size: 2em; }
    #revBody main #revCont #revForm #containerLocalidad {
      display: flex;
      flex-direction: row; }
      #revBody main #revCont #revForm #containerLocalidad #inpLocalidad {
        flex: 1;
        font-size: 2em; }
    #revBody main #revCont #revForm #revContbtn {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      #revBody main #revCont #revForm #revContbtn input {
        font-size: 2em;
        width: 350px;
        height: 60px;
        margin: 0px 150px; }

#contBody main #contCont {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #contBody main #contCont #contTexto h1 {
    font-size: 3em;
    text-align: center;
    font-weight: 500; }
  #contBody main #contCont #contTexto p {
    font-size: 2em;
    text-align: justify; }
  #contBody main #contCont #contForm div {
    margin: 30px 0px; }
    #contBody main #contCont #contForm div label {
      font-weight: 500;
      font-size: 2em; }
  #contBody main #contCont #contForm #contNombre,
  #contBody main #contCont #contForm #contEmail,
  #contBody main #contCont #contForm #contConsul {
    font-size: 2em; }
  #contBody main #contCont #contConsul {
    width: 100%; }
  #contBody main #contCont #contContbtn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    #contBody main #contCont #contContbtn input {
      font-size: 2em;
      width: 100px;
      margin: 0px 50px; }

@media only screen and (min-width: 992px) {
  #indBody main #contIndexMain {
    flex-wrap: 1;
    width: 70%;
    margin: 0px auto; }
    #indBody main #contIndexMain #contCarrusel {
      width: 70%;
      margin: 20px auto;
      border: solid 8px #ffffff;
      border-radius: 20%;
      overflow: hidden;
      background-color: #d1d1d1; }
      #indBody main #contIndexMain #contCarrusel img {
        border-radius: 17%; }
      #indBody main #contIndexMain #contCarrusel .descripcion {
        bottom: 60px; }
    #indBody main #contIndexMain #contNosotros {
      flex-grow: 1; }
  #envBody #envCont {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #envBody #envCont h1 {
      font-size: 3em;
      margin-top: -50px; }
    #envBody #envCont #envForm {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap; }
      #envBody #envCont #envForm fieldset {
        display: flex;
        background-color: white;
        border-radius: 10%;
        box-shadow: 1px 1px black;
        padding: 20px; }
      #envBody #envCont #envForm legend {
        font-size: 2em; }
      #envBody #envCont #envForm #envTextarea1 {
        border-radius: 3%;
        background-color: #d1d1d1;
        box-shadow: none; }
        #envBody #envCont #envForm #envTextarea1 #envTextarea2 {
          width: 95%;
          margin: auto;
          font-size: 1em; }
          #envBody #envCont #envForm #envTextarea1 #envTextarea2 #aclEnv {
            width: 100%;
            font-size: 1.5em; }
  #envBody #envCont {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #envBody #envCont h1 {
      font-size: 3em;
      margin-top: -50px; }
    #envBody #envCont #envForm {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap; }
      #envBody #envCont #envForm fieldset {
        display: flex;
        background-color: white;
        border-radius: 10%;
        box-shadow: 1px 1px black;
        padding: 20px; }
      #envBody #envCont #envForm legend {
        font-size: 2em; }
      #envBody #envCont #envForm #envTextarea1 {
        border-radius: 3%;
        background-color: #d1d1d1;
        box-shadow: none; }
        #envBody #envCont #envForm #envTextarea1 #envTextarea2 {
          width: 95%;
          margin: auto;
          font-size: 1em; }
          #envBody #envCont #envForm #envTextarea1 #envTextarea2 #aclEnv {
            width: 100%;
            font-size: 1.5em; }
  #revBody #revCont {
    width: 50%;
    margin: 50px auto;
    padding: 20px 20px 0px 20px;
    border-radius: 20px;
    background-color: #f7f1f1; }
    #revBody #revCont #revTexto h1 {
      margin: 0px 0px 10px 0px;
      padding-bottom: 30px; }
    #revBody #revCont #revForm div {
      align-items: center;
      display: flex;
      margin: 50px 0px;
      border: 1px solid grey;
      border-radius: 20px;
      padding: 25px; }
      #revBody #revCont #revForm div label {
        margin-bottom: 0px; }
    #revBody #revCont #revForm #revContbtn {
      border: none;
      margin-bottom: 0px;
      padding: 0px 0px 50px 0px; }
      #revBody #revCont #revForm #revContbtn input {
        width: 200px;
        height: 60px;
        margin: 0px auto; }
  #contBody main #contCont {
    margin: 50px auto;
    width: 50%;
    padding: 20px 20px 0px 20px;
    border-radius: 20px;
    background-color: #f7f1f1; }
    #contBody main #contCont #contTexto h1 {
      margin: 0px 0px 10px 0px;
      padding-bottom: 30px; }
    #contBody main #contCont #contForm div {
      align-items: center;
      display: flex;
      margin: 50px 0px;
      border: 1px solid grey;
      border-radius: 20px;
      padding: 25px; }
      #contBody main #contCont #contForm div label {
        margin-bottom: 0px; }
    #contBody main #contCont #contForm #contContbtn {
      border: none;
      margin-bottom: 0px;
      padding: 0px 0px 50px 0px; }
      #contBody main #contCont #contForm #contContbtn input {
        width: 200px;
        height: 60px;
        margin: 0px auto; } }

@media only screen and (min-width: 1200px) {
  #indBody main #contIndexMain #contBtnMapa {
    display: none; }
  #indBody main #contIndexMain #contMapa {
    display: block; }
    #indBody main #contIndexMain #contMapa h2 {
      font-size: 3em;
      text-align: center; }
    #indBody main #contIndexMain #contMapa .containerMapa {
      position: relative;
      padding-bottom: 100.25%;
      height: 0;
      overflow: hidden;
      border: #615b5b 1px solid; }
      #indBody main #contIndexMain #contMapa .containerMapa iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; } }
