
/* CSS para Header, Footer e Index*/

.gridCat {
    display: grid;
}

.template-areas-cat {
    grid-template-rows: repeat (3, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "nav nav nav" "catalogo catalogo catalogo" "pie pie pie";
}

.navegador {
    grid-area: nav;
}

.catalogo {
    grid-area: catalogo;
    display: flex;
    padding: 0px;
    margin: 0px;
}

.container {
    display: flex;
    width: 70%;
}

.catalogoProd {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.filtros {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 252, 255);
    display: flex;
    flex-direction: column;
    height: 200px;
    border-radius: 6%;
}

.filtros > a {
    list-style: none;
    font-size: 1.6em;
    outline: none;
    text-decoration: none;
    color: black;
}

.item {
    background-color: #e7e7e7;
    border-radius: 2%;
    margin: 10px;
    transition: all 1s;
}

.item:hover {
    transform: scale(1.1, 1.1);
    margin-bottom: 2 0px;
}

.prodTit {
    font-weight: 400;
    font-size: 1.6em;
    margin-top: 15px;
    margin-bottom: 0;
}

.prodImg {
    border: solid 8px #f2f2f4;
    padding: 20px 5px;
}

.prodImg > img {
    max-width: 20rem;
}

.precio {
    margin-top: -5px;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 300;
}

.prodComp {
    background-color: #e7e7e7;
    display: flex;
    justify-content: center;
}

.buttonComprar {
    border: 0;
    width: 100%;
    height: 30px;
    font-size: 1.3em;
}

.pie {
    grid-area: pie;
}

@media only screen and (min-width: 1024px) {
    .item {
        margin: 20px;
    }
}

/* CSS para Catálogo*/

.grid-env {
    display: grid;
}

.template-areas-env {
    grid-template-rows: repeat (3, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "nav nav nav" "envio envio envio" "pie pie pie";
}

.containerEnvio {
    grid-area: envio;
    min-height: calc(100vh - 190px);
    padding-top: 20px;
}

.envioFormulario > fieldset > legend {
    font-size: 2em;
    text-align: center;
    margin: 12px 0;
    font-weight: 500;
}

.envioFormulario > fieldset {
    padding: 3px;
    margin: 5px 0px;
}

.form-label {
    font-size: 1.6em;
    font-weight: 500;
}

.form-check > * {
    font-size: 1.2em;
}

.form-check {
    padding-left: 1.9em;
}

#aclEnv {
    width: 100%;
    font-size: 1.5em;
}

.containerEnvBtn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 40px 0px;
}

.containerEnvBtn > input {
    font-size: 1.4em;
}

@media only screen and (min-width: 992px) {
    .containerEnvio {
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .containerEnvio > .envioFormulario > fieldset > legend {
        font-size: 3em;
    }
}

/*CSS para envio*/

.grid-rev {
    display: grid;
}

.template-areas-rev {
    grid-template-rows: repeat (3, auto);
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "nav" "rev" "pie";
}

.containerRevendedores {
    grid: rev;
    min-height: calc(100vh - 190px);
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerRevendedores > h2 {
    font-size: 2.2em;
    text-align: center;
    margin: 0px 0px 20px 0px;
    font-weight: 500;
}

.containerRevendedores > p {
    font-size: 1.4em;
    text-align: justify;
    margin-bottom: -15px;
}

.reveFormulario > div {
    margin: 30px 0px;
}

.reveFormulario > div > label {
    font-weight: 500;
}
.containerRevBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.containerRevBtn > input {
    font-size: 1.5em;
}

#containerLocalidad {
    display: flex;
    flex-direction: row;
}

#inpLocalidad {
    flex: 1;
    font-size: 1.4em;
    margin-left: 20px;
}

#inpNombre,
#inpTelefono,
#inpEmail {
    font-size: 1.4em;
}

@media only screen and (min-width: 992px) {
    .containerRevendedores {
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .containerRevendedores > h2 {
        font-size: 3em;
    }
}

/* CSS para revendedores*/

.grid-cont {
    display: grid;
}

.template-areas-cont {
    grid-template-rows: repeat (3, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "nav nav nav" "contact contact contact" "pie pie pie";
}

.containerContacto {
    grid-area: contact;
    margin: 5px;
    min-height: calc(100vh - 190px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerContacto > h3 {
    font-size: 2.2em;
    text-align: center;
    margin: 0px 0px 20px 0px;
    font-weight: 500;
}

.containerContacto > p {
    font-size: 1.4em;
    text-align: justify;
    margin-bottom: -15px;
}

.containerContacto > .contFormulario > div {
    margin: 30px 0px;
}

.contFormulario > div > label {
    font-weight: 500;
}

#contNombre,
#contEmail,
#contConsul {
    font-size: 1.4em;
}

@media only screen and (min-width: 992px) {
    .containerContacto {
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .containerContacto > h3 {
        font-size: 3em;
    }
}

/*CSS para Contacto*/
