* {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

html {
    font-size: 63.5%;
}

body {
    background-color: #e7e7e7;
}

.grid {
    display: grid;
}

.template-areas {
    grid-template-rows: repeat (4, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "nav nav nav" "carrousel carrousel carrousel" "cuerpo cuerpo cuerpo" "pie pie pie";
}

.navegador {
    grid-area: nav;
    font-size: 2em;
    background-color: #0f6394;
}

.navbar-collapse {
    flex-grow: 0;
}

.container-fluid {
    width: 70%;
    margin: 0 auto;
}

.descripcion {
    background-color: rgb(97, 91, 91);
    flex-grow: 1;
    margin: 0%;
    padding: 0%;
    opacity: 0.9;
    border-radius: 5%;
}

#carouselExampleDark {
    grid-area: carrousel;
    width: 70%;
    margin: 3px auto;
}

.carousel-item > img {
    max-height: 900px;
}

.cuerpoPrincipal {
    grid-area: cuerpo;
    width: 70%;
    margin: 30px auto;
    display: flex;

}
.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nosotros > p {
    font-size: 1.8rem;
    padding: 5px;
}

.nosotros > h1 {
    font-size: 3rem;
}

.ubicacion > h2 {
    position: relative;
    font-size: 2.5rem;
    text-align: center;
}
.containerMapa {
    position: relative;
    padding-bottom: 100.25%;
    height: 0;
    overflow: hidden;
}
.containerMapa iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pie {
    grid-area: pie;
    display: block;
    flex-direction: row;
    background-color: #0f6394;
}

.containerRedes {
    display: flex;
    flex-basis: auto;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
}

.containerRedes > a {
    margin: 20px 0px;
}

@media only screen and (min-width: 992px) {
    #blanquiNav > ul > li > a {
        font-size: 0.8em;
    }
}

/* CSS para Header, Footer e Index*/

.gridCat {
    display: grid;
}

.template-areas-cat {
    grid-template-rows: repeat (3, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "nav nav nav" "catalogo catalogo catalogo" "pie pie pie";
}

.navegador {
    grid-area: nav;
}

.catalogo {
    grid-area: catalogo;
    display: flex;
    padding: 0px;
    margin: 0px;
}
.container {
    display: flex;
    width: 70%;
}
.catalogoProd {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.filtros {
    display: flex;
    flex-direction: column;
}
.titulo {
    width: 100%;
    text-align: center;
    font-size: 400%;
    margin: 0px;
}

.item {
    border: gray 2px solid;
    border-radius: 2%;
    background-color: white;
    margin: 10px;
    transition: all 1s;
}

.item:hover {
    transform: scale(1.1, 1.1);
}
.prodTit {
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    padding-top: 10px;
}

.prodImg {
    padding: 2px 0px;
}

.prodImg > img {
    max-width: 20rem;
}

.precio {
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
}

.prodComp {
    display: flex;
    justify-content: center;
}

.buttonComprar {
    width: 100%;
    height: 30px;
    font-size: 1.3em;
}

.pie {
    grid-area: pie;
}

@media only screen and (min-width: 1024px) {
    .item {
        border: gray 2px solid;
        border-radius: 2%;
        background-color: white;
        margin: 20px;
    }
}

/* CSS para Catálogo*/

.revendedorCuerpo {
    position: relative;
    top: 100px;
}

.revendedorCuerpo > h3 {
    font-size: 3rem;
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    text-align: center;
}

.revendedorCuerpo > p {
    font-size: 2rem;
    color: black;
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    text-align: center;
}

.revendedorCuerpo > form {
    width: 50%;
    position: relative;
    left: 25%;
}
.revendedorCuerpo > form > input {
    width: 100%;
    height: 2em;
    margin: 1px;
    padding: 5px;
}

.revendedorCuerpo > form > legend {
    font-size: 2rem;
    font-family: "Times New Roman", Times, serif;
    margin: 1px;
    padding: 2px;
}

.revendedorCuerpo > form > input[type="submit"],
.revendedorCuerpo > form > input[type="reset"] {
    background-color: #04aa6d;
    border: none;
    color: white;
    padding: 16px 30px 20px 30px;
    margin: 50px 20px;
    width: auto;
    position: relative;
    left: 30%;
}

.footerRevendedores {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

/* CSS para revendedores*/
.envioFormulario {
    width: 50%;
    position: relative;
    left: 25%;
    top: 150px;
}

.envioCuerpo > .envioFormulario > h3 {
    font-size: 2rem;
    color: black;
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    text-align: center;
}

.envioFormulario > form > fieldset > * {
    font-size: 2rem;
    color: black;
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    margin: 5px;
}

.envioFormulario > form > fieldset > legend {
    font-weight: bold;
}

.envioFormulario > form > input[type="reset"],
.envioFormulario > form > input[type="submit"] {
    background-color: #04aa6d;
    border: none;
    color: white;
    padding: 16px 30px 20px 30px;
    margin: 50px 20px;
    width: auto;
    position: relative;
    left: 30%;
}

.footerEnvio {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

/*CSS para envio*/

.contactoFormulario {
    width: 50%;
    left: 25%;
    position: relative;
    top: 50px;
}

.contactoCuerpo > .contactoFormulario > h3 {
    font-size: 3rem;
    color: black;
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    text-align: center;
}

.contactoCuerpo > .contactoFormulario > p {
    font-size: 2rem;
    color: black;
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    text-align: center;
}

.contactoFormulario > form > * {
    font-size: 2rem;
    color: black;
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    margin: 5px;
    width: 100%;
}

.contactoFormulario > form > legend {
    font-weight: bold;
}

.contactoFormulario > form > input[type="reset"],
.contactoFormulario > form > input[type="submit"] {
    background-color: #04aa6d;
    border: none;
    color: white;
    padding: 16px 30px 20px 30px;
    margin: 50px 20px;
    width: auto;
    position: relative;
    left: 30%;
}

.footerContacto {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

/*CSS para Contacto*/
