* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flexContainer {
    display: flex;
    padding: 50px;
}
.container {
    width: 90%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 10px 40px;
}
.container .swiper-container {
    width: 100%;
    height: 100%;
}
.container .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-radius: 15px;
    text-align: start;
    box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
}
.container .swiper-slide img {
    display: block;
    width: 100%;
    max-height: 280px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 2px solid #000;
}
.container .swiper-slide .card-description {
    padding: 1rem 1rem;
}
.container .swiper-slide .card-title,
.container .swiper-slide .card-text {
    margin-bottom: 0.5rem;
}
.container .swiper-slide .card-link {
    text-align: center;
}
.container .swiper-slide .card-link a {
    text-decoration: none;
    color: #1d6ce2;
}
.swiper-button-next {
    right: 26px !important;
    top: 40%;
}
.swiper-button-prev {
    left: 26px !important;
    top: 40%;
}

body {
    background-color: $secondaryColor;
}
h1 {
    font-size: $fontLg;
    text-align: center;
}

$colores: (
    "1": $mainColor,
    "2": $secondaryColor,
    "3": #615b5b,
    "4": #ffffff,
);

.campoCot {
    background-color: red;
}

.deshab {
    display: none;
}
.hab {
    display: flex;
    background-color: rgb(156, 131, 97);
    padding: 20px 0px;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-right: #000 1px solid ;
    
}

.preciosIngresados {
    width: 95%;
    border-radius: 3px;
    margin: 10px;
    font-size: 2em;
}

.etiq {
    font-size: 2em;
}

.btnHab {
    margin: 20px;
    font-size: 2em;
    justify-content: center;
    align-items: center;
}
#indBody {
    background: #eee;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    main {
        #contIndexMain {
            padding: 5px 5px 5px 5px;
            flex-wrap: wrap;
            display: flex;
            #contCarrusel {
                margin: 5px auto;
                img {
                    max-height: auto;
                }
                .descripcion {
                    background-color: map-get($map: $colores, $key: "3");
                    flex-grow: 1;
                    margin: 0px;
                    padding: 0px;
                    opacity: 0.9;
                    border-radius: 5%;
                    p {
                        font-size: $fontMd;
                    }
                    h3 {
                        padding-top: 10px;
                    }
                }
            }
            #contNosotros {
                flex-direction: column;
                align-items: center;
                padding-right: 20px;
                h1 {
                    padding: 30px;
                }
                p {
                    font-size: $fontMd;
                    padding: 5px;
                    text-align: justify;
                }
            }

            #contBtnMapa {
                padding: 0px 5px;
                margin-bottom: 50px;
                display: block;
                flex-grow: 1;
                p {
                    display: flex;
                    margin-bottom: 3px;
                    button {
                        font-size: $fontLg;
                        flex-grow: 1;
                        border-radius: 3%;
                    }
                }
                #dropMapa {
                    .card {
                        background-color: map-get($map: $colores, $key: "2");
                        border: 0;
                        padding: 0px;
                        iframe {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

#catBody {
    #cat {
        margin: 0;
        padding: 0;
        display: flex;
        #catCont {
            @include contFlex(70%, 0 auto);
            #catFiltros {
                margin-top: 20px;
                height: 200px;
                background-color: rgb(241, 243, 245);
                justify-content: center;
                border-radius: 6%;
                display: flex;
                flex-direction: column;
                ul {
                    padding: 0px;
                    margin: 0px;
                    list-style: none;
                    li {
                        a {
                            color: black;
                            font-size: 1.6em;
                            outline: none;
                            text-decoration: none;
                        }
                    }
                }
            }
            #catProd {
                min-height: calc(100vh - 210px);
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                #contCotTab {
                    display: flex;
                    width: 100%;
                    padding: 20px;
                    margin: 20px;
                    border: 3px solid rgb(49, 40, 40);
                    border-radius: 10px;
                    background-color: white;
                    #cajaCotizador {
                        margin: 3px;
                        height: 650px;
                        width: 100%;
                        border: 2px solid rgb(70, 45, 12);
                        border-radius: 10px;
                        overflow-y: scroll;
                        overflow-x: scroll;
                        
                    }
                    #btnRellenar {
                        width: auto;
                        height: auto;
                        margin: 20px;
                        font-size: 2em;
                        justify-content: center;
                        align-items: center;
                    }
                    #botonesCotizador{
                        width: 30%;
                        margin: 3px;
                    }
              
                }
                #catProdSab {
                    display: none;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    &:target {
                        display: flex;
                    }
                }
                #catProdToa,
                #catProdAco,
                #catProdBat,
                #catProdInf {
                    @extend #catProdSab;
                    &:target {
                        display: flex;
                    }
                }
                .item {
                    background-color: $secondaryColor;
                    border-radius: 2%;
                    margin: 20px 10px;
                    transition: all 0.4s;
                    &:hover {
                        transform: scale(1.03, 1.03);
                    }
                    .prodTit {
                        font-weight: 500;
                        font-size: 1.6em;
                        margin-top: 10px;
                    }
                    .prodImg {
                        border: solid 8px #c9c1b7;
                        padding: 10px 5px;
                        border-radius: 5%;
                        img {
                            border-radius: 5%;
                        }
                    }
                    .precio {
                        margin-top: -5px;
                        font-size: 1.6rem;
                        text-align: center;
                        font-weight: 300;
                    }
                    .prodComp {
                        background-color: #e7e7e7;
                        display: flex;
                        justify-content: center;
                        .buttonComprar {
                            border: 0;
                            width: 100%;
                            height: 30px;
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
}

#envBody {
    #envCont {
        min-height: calc(100vh - 195px);
        h1 {
            text-align: center;
            margin: 30px 0px;
        }
        #envForm {
            fieldset {
                padding: 3px;
                margin: 5px 0px 5px 5px;
                .form-label {
                    font-size: $fontMd;
                    font-weight: 500;
                }
                .form-check {
                    .form-check-label {
                        font-size: 1.4em;
                    }
                }
            }
            #envTextarea2 {
                font-size: 1em;
                #aclEnv {
                    width: 100%;
                    font-size: 1.5em;
                }
            }
        }
        #envContbtn {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            input {
                font-size: $fontMd;
                width: 100px;
                margin: 0px 50px;
            }
        }
    }
}

#revBody {
    main {
        min-height: calc(100vh - 235px);
        #revCont {
            display: flex;
            flex-direction: column;
            padding: 10px;
            #revTexto {
                h1 {
                    font-size: $fontLg;
                    text-align: center;
                    font-weight: 500;
                    margin: 30px 0px;
                }
                p {
                    font-size: $fontMd;
                    text-align: justify;
                }
            }
            #revForm {
                div {
                    align-items: center;
                    margin: 15px 0px;
                    label {
                        font-weight: 500;
                        font-size: $fontMd;
                    }
                }
                #inpNombre,
                #inpTelefono,
                #inpEmail {
                    font-size: $fontMd;
                }
                #containerLocalidad {
                    display: flex;
                    flex-direction: row;
                    #inpLocalidad {
                        flex: 1;
                        font-size: $fontMd;
                    }
                }
                #revContbtn {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    input {
                        font-size: $fontMd;
                        width: 350px;
                        height: 60px;
                        margin: 0px 150px;
                    }
                }
            }
        }
    }
}

#contBody {
    main {
        #contCont {
            margin: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            #contTexto {
                h1 {
                    font-size: $fontLg;
                    text-align: center;
                    font-weight: 500;
                }
                p {
                    font-size: $fontMd;
                    text-align: justify;
                }
            }
            #contForm {
                div {
                    margin: 30px 0px;
                    label {
                        font-weight: 500;
                        font-size: $fontMd;
                    }
                }
                #contNombre,
                #contEmail,
                #contConsul {
                    font-size: $fontMd;
                }
            }
            #contConsul {
                width: 100%;
            }
            #contContbtn {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                input {
                    font-size: $fontMd;
                    width: 100px;
                    margin: 0px 50px;
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    #indBody {
        main {
            #contIndexMain {
                flex-wrap: 1;
                @include contFlex(70%, 0px auto);
                #contCarrusel {
                    @include contFlex(100%, 20px auto);
                    border: solid 8px #ffffff;
                    border-radius: 20%;
                    overflow: hidden;
                    background-color: map-get($map: $colores, $key: "2");
                    img {
                        border-radius: 17%;
                        max-height: 1000px;
                    }
                    .descripcion {
                        bottom: 60px;
                    }
                }
                #contNosotros {
                    margin: 50px auto;
                    width: 100%;
                    padding: 30px 50px 50px 50px;
                    border: solid 3px $mainColor;
                    border-radius: 20px;
                    background-color: #f7f1f1;
                    flex-grow: 1;
                    h1 {
                        padding-bottom: 30px;
                    }
                }
                #contBtnMapa {
                    margin: 30px auto 50px auto;
                    padding: 0px;
                    flex-grow: 0;
                    width: 80%;
                    p {
                        #botonMaps {
                            background-color: $mainColor;
                            flex-grow: 1;
                        }
                    }
                }
            }
        }
    }

    #envBody {
        #envCont {
            @include contFlex(70%, auto);
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1 {
                font-size: $fontLg;
                margin-top: -50px;
            }
            #envForm {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                fieldset {
                    display: flex;
                    background-color: rgb(255, 255, 255);
                    border-radius: 10%;
                    box-shadow: 1px 1px rgb(0, 0, 0);
                    padding: 20px;
                }
                legend {
                    font-size: $fontMd;
                }
                #envTextarea1 {
                    border-radius: 3%;
                    background-color: $secondaryColor;
                    box-shadow: none;
                    #envTextarea2 {
                        width: 95%;
                        margin: auto;
                        font-size: 1em;
                        #aclEnv {
                            width: 100%;
                            font-size: 1.5em;
                        }
                    }
                }
            }
        }
    }
    #revBody {
        #revCont {
            width: 50%;
            margin: 50px auto;
            padding: 20px 20px 0px 20px;
            border-radius: 20px;
            background-color: #f7f1f1;
            #revTexto {
                h1 {
                    margin: 0px 0px 10px 0px;
                    padding-bottom: 30px;
                }
            }
            #revForm {
                div {
                    align-items: center;
                    display: flex;
                    margin: 50px 0px;
                    border: 1px solid grey;
                    border-radius: 20px;
                    padding: 25px;
                    label {
                        margin-bottom: 0px;
                    }
                }
                #revContbtn {
                    border: none;
                    margin-bottom: 0px;
                    padding: 0px 0px 50px 0px;
                    input {
                        width: 200px;
                        height: 60px;
                        margin: 0px auto;
                    }
                }
            }
        }
    }

    #contBody {
        main {
            #contCont {
                margin: 50px auto;
                width: 50%;
                padding: 20px 20px 0px 20px;
                border-radius: 20px;
                background-color: #f7f1f1;
                #contTexto {
                    h1 {
                        margin: 0px 0px 10px 0px;
                        padding-bottom: 30px;
                    }
                }
                #contForm {
                    div {
                        align-items: center;
                        display: flex;
                        margin: 50px 0px;
                        border: 1px solid grey;
                        border-radius: 20px;
                        padding: 25px;
                        label {
                            margin-bottom: 0px;
                        }
                    }
                    #contContbtn {
                        border: none;
                        margin-bottom: 0px;
                        padding: 0px 0px 50px 0px;
                        input {
                            width: 200px;
                            height: 60px;
                            margin: 0px auto;
                        }
                    }
                }
            }
        }
    }
}
