#pie {
    display: block;
    flex-direction: row;
    background-color: $mainColor;
    height: 90px;
    width: 100%;
    #contPie {
        display: flex;
        flex-basis: auto;
        width: 100%;
        margin: 0 auto;
        padding: 0px 10px;
        justify-content: space-between;
        a {
            margin: 20px 0px;
        }
    }
    @media only screen and (min-width: 992px) {
        #contPie {
            width: 70%;
            padding: 0px;
        }
    }
}
